{% assign author = authors | where: 'slug', slug | first %}
<section class="author-card flex flex-col h-card {% if post %}p-author{% endif %} {% if hide %}hidden{% endif %}">
    <div class="author-picture-container">
        <img
            class="author-picture u-photo"
            src="{{ author.picture }}"
            alt="{{ author.name }}'s picture"
        >
    </div>
    <div class="flex-1">
        <h1 class="h2 author-name">
            <a href="/" class="p-name u-url">{{ author.name }}</a>
        </h1>
        <p class="p-note">{{ author.introduction }}</p>
        <div class="author-socials">
            {% for social in author.socials %}
            <a
                href="{{social.link}}"
                target="_blank"
                rel="me"
            >{{ social.label }}</a>
            {% endfor %}
        </div>
    </div>
</section> 
