<article class="post h-entry" data-type="{% if post.data.layout == 'post/article' %}article{% elsif post.data.layout == 'post/note' %}note{% elsif post.data.layout == "post/photo"%}photo{% elsif post.data.layout == "post/reply-context"%}reply{% endif%}">
    <a class="u-url u-uid" href="{{ post.url }}">
        <time
            class="post__published-date dt-published"
            datetime="{{ post.date | dateInISO8601 }}"
        >
            {{- post.date | friendlyDate -}}
        </time>
    </a>

    {% if post.data.layout == "post/article" %}
        <h1
            class="p post__title p-name"
        >{{ post.data.title -}}
        </h1>
    {% elsif post.data.layout == "post/note" %}
        <div class="e-content">{{ post.templateContent }}</div>
    {% elsif post.data.layout == "post/photo" %}
        <section class="post-photos">
        {% for photo in post.data.photo %}
            <img src="/assets/img/{{ photo.src }}" alt="{{ photo.alt }}" class="u-photo">
        {% endfor %}
        </section>
        <div class="p-content">{{ post.templateContent }}</div>
    {% elsif post.data.layout == "post/reply-context" %}
        <section class="u-in-reply-to h-cite">In reply to <a     href="{{ post.data.reply-to }}" class="u-url">{{ post.data.reply-to }}</a>:
            <blockquote class="p-content">
            {{ post.data.reply-context }}
            </blockquote>
        </section>
        <div class="p-name e-content">
            {{ post.templateContent }}
        </div>
    {% endif %}

</article>

