<article class="post h-entry" data-type="{% if post.data.layout == 'post/article' %}article{% elsif post.data.layout == 'post/note' %}note{% endif%}">
    <a class="u-url u-uid" href="{{ post.url }}">
        <time
            class="post__published-date dt-published"
            datetime="{{ post.date | dateInISO8601 }}"
        >
            {{- post.date | friendlyDate -}}
        </time>
    </a>

    {% if post.data.layout == "post/article" %}
        <h1
            class="p post__title p-name"
        >{{ post.data.title -}}
        </h1>
    {% elsif post.data.layout == "post/note" %}
        <div class="e-content">{{ post.templateContent }}</div>
    {% endif %}

</article>

