---
layout: default
permalink: "/post/article/{{ page.date | date: '%Y' }}/{{ page.fileSlug }}/"
---

<article class="h-entry post" data-type="article">
    <header class="post-header">
        <h1 class="p-name">{{ title }}</h1>
        <p class="post-datetime">
            <a href="{{page.url}}" class="u-url u-uid"><time datetime="{{page.date | dateToIso8601}}" class="dt-published">{{ page.date | friendlyDate }}</time></a>
            {% if updated %}
                {% assign publishDate = page.date | friendlyDate %}
                {% assign updateDate = updated | friendlyDate %}
                {% unless publishDate == updateDate %}
                    <span class=" text-italic">(last updated on <time class="dt-updated" datetime="{{ updated | dateToIso8601 }}">{{ updated | friendlyDate }}</time>)</span>
                {% endunless %}
            {% endif %}
        </p>
        {%- if tags.size > 0 -%}
			<div class="post-tags">
				<span>Tagged&nbsp;</span>
				{% for tag in tags %}
				{% assign tag_name = tag | slugify %}
					<a href="{{ '/archive/tag/' | append: tag_name }}/" class="p-category">#{{tag}}</a>
				{% endfor %}
			</div>
		{%- endif -%}
        {% if featured-image %}
            {{ featured-image }}
        {% endif %}
        {% render 'old-post-notice' date: page.date %}
    </header>
    <main class="e-content">
        {{ content }}
    </main>
    <footer>
        {% assign emailSubject = title | prepend: "Comment on article: " %}

        {% render 'comment-via-email', subject: emailSubject, url: page.url %}

        {% render 'author-card',
            authors: site.authors,
            slug: page.author,
            hide: true,
            post: true
        %}
    </footer>
</article>
